

.user-header{
    background-image: url(../img/bois_sombre.png);
    border: solid white;
}

#ul-navbar-custom-menu{
    box-shadow: -5px 5px 20px -1px black;;
}

















.main-header a, .sidebar-menu a{
    color: #fff;
}

                    /*Deb/ Menu du haut */

.menu_haut{
    background-image: url(../img/bois.jpg);
}



                    /*Deb/ Menu du haut */






                    /* Deb/ Menu de gauche */



.menu_gauche{
    background-image: url(../img/bois_sombre.png);
}

.menu_gauche a{
    color: #b8c7ce;
}

.sidebar-form{
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.sidebar-form input[type="text"] {
    color: #666;
    background-color: mintcream;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}
#barre_de_recherche{
    box-shadow: -3px 3px 20px 1px black;
}
/* Les couleurs sont provisoires, elle sont la pour mes tests. */
.menu_gauche li{
    font-size: large;
}
.menu_gauche li a{
    transition-duration: 500ms;
}
.menu_gauche li:hover a{
    color: aqua;
    transform: translateX(15px);
    transition-duration: 500ms;
}
.menu_gauche li:hover ul a{
    color: #bbb;
    transform: translateX(7px);
}
.menu_gauche li ul li:hover a{
    color: aquamarine;
    transform: translateX(10px);
}


#separation_a{
    color: #bbb;
    background: #374850;
    font-weight: bold;
    margin-bottom: 20px; 
    box-shadow: -3px 3px 20px black;
}

#separation_b{
    color: #bbb;
    background: #374850;
    box-shadow: -5px 3px 20px -3px black;
}


                    /* End/ Menu de gauche */